- @commit.diffs.each do |d|
  - d.diff.split("\n").each do |line|
    .diff
      - if line.diff_overview_line?
        %pre{ :class => "overview" }
          = line.utf8
      - elsif line.diff_add_line?
        %pre{ :class => "add" }
          = line.utf8
      - elsif line.diff_remove_line?
        %pre{ :class => "remove" }
          = line.utf8
      - elsif line.strip.empty?
        %pre &nbsp;
      - else
        %pre
          = line.utf8
