- @commit.diffs.each do |d|
  - lexer = `pygmentize -N #{d.a_path}`.strip
  - highlighted_diff = d.diff.utf8.highlight(lexer).to_s
  - highlighted_diff.each do |line|
    - klass = line.diff_container_class
    .diff_container{ :class => klass }
      - if line.diff_special_line?
        .diff{ :class => klass }
          = line
      - elsif line.strip.empty?
        .diff
          &nbsp;
      - else
        .diff
          = line
