#commits
  %ol
  #more
    %a{ :href => "?page=#{@page+1}" }
      more

#diffs
  %img.spinner{ :src => "/images/spinner-black-on-white.gif", :style => "display:none" }
  .content
    %p.diff_loading
      Select a commit to view the changes.