%ol#commits
  -@commits.each do |c|
    %li{ :id => "commit_#{c.id}", :class => "ui-helper-clearfix" }
      .img
        %a{ :href => "mailto:#{c.author}" }
          %img{ :src => c.author.gravatar_url(36) }
      %p.message
        = c.message.sub("\n\n", "<br /><br />").gsub("\n-", "<br />-")

#diffs
  %p Select a commit to view the changes.