!!!
%html
  %head
    %title NitGit - Git History Browser
    %link{ :rel => "stylesheet", :type => "text/css",
           :href => "/jquery-ui-1.7.2.custom/css/ui-lightness/jquery-ui-1.7.2.custom.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/colorful.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/application.css" }
    %script{ :src => "/jquery-ui-1.7.2.custom/js/jquery-1.3.2.min.js" }
    %script{ :src => "/jquery-ui-1.7.2.custom/js/jquery-ui-1.7.2.custom.min.js" }
    %script{ :src => "/js/pxem.jQuery.js" }
    -# %script{ :src => "/js/prettify.js" }
    %script{ :src => "/js/repo_manager.js" }
  %body
    #debug
    #header
      #logo
        %a{ :href => "/", :id => "home" }
          = @project_name
        %span.sep /
        %select{ :id => "select_branch" }
          - @repo.heads.each do |h|
            %option{ :value => h.name, :selected => (@selected_branch == h.name) }
              = h.name
        %span.sep /
        %span#sha
      %p#credit
        nitgit by
        %a{ :href => "http://greatseth.com" }
          greatseth
      #controls
        %img.spinner{ :src => "/images/spinner-white-on-black.gif", :style => "display:none" }
        %input{ :type => "button", :id => "hide_merges", :value => "Hide Merges" }
    #content.ui-helper-clearfix
      = yield
