!!!
%html
  %head
    %title NitGit - Git History Browser
    %link{ :rel => "stylesheet", :type => "text/css",
           :href => "/jquery-ui-1.7.2.custom/css/ui-lightness/jquery-ui-1.7.2.custom.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/colorful.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/application.css" }
    -#%link{ :rel => "stylesheet", :type => "text/css", :href => "/css/autoSuggest.css" }
    %script{ :src => "/jquery-ui-1.7.2.custom/js/jquery-1.3.2.min.js" }
    %script{ :src => "/jquery-ui-1.7.2.custom/js/jquery-ui-1.7.2.custom.min.js" }
    %script{ :src => "/js/jquery.hotkeys-0.7.9.min.js" }
    %script{ :src => "/js/pxem.jQuery.js" }
    -#%script{ :src => "/js/jquery.autoSuggest.js" }
    -#%script{ :src => "/js/jquery.autoSuggest.minified.js" }
    -#%script{ :src => "/js/prettify.js" }
    %script{ :src => "/js/repo_manager.js" }
    :javascript
      RepoManager.branches = #{@branches_json}
  %body
    #debug
    #header.ui-helper-clearfix
      #logo
        #home
          %a{ :href => "/", :id => "home" } NitGit
        .sep /
        #select_branch
          %span{ :id => "selected_branch" }
            = @selected_branch
          %input{ :type => "text", :id => "select_branch_search" }
        .sep /
        #sha
      %p#credit
        by
        %a{ :href => "http://greatseth.com" }
          greatseth
      #controls
        %img#spinner{ :src => "/images/spinner.gif", :style => "display:none"}
        %input{ :type => "button", :id => "hide_merges", :value => "Hide Merges" }
    #content.ui-helper-clearfix
      = yield
