!!!
%html
  %head
    %title NitGit - Git History Browser
    %link{ :rel => "stylesheet", :type => "text/css",
           :href => "/jquery-ui-1.7.2.custom/css/ui-lightness/jquery-ui-1.7.2.custom.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/colorful.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/application.css" }
    %script{ :src => "/jquery-ui-1.7.2.custom/js/jquery-1.3.2.min.js" }
    %script{ :src => "/jquery-ui-1.7.2.custom/js/jquery-ui-1.7.2.custom.min.js" }
    -# %script{ :src => "/js/prettify.js" }
    %script{ :src => "/js/repo_manager.js" }
  %body
    #header
      .container
        %p#logo
          NitGit / 
          %span#sha
        %p#credit
          &copy; 2010
          %a{ :href => "http://greatseth.com" }
            Seth Thomas Rasmussen
        #controls
          %label{ :for => "hide_merges" }
            %input{ :type => "checkbox", :id => "hide_merges" }
            Hide merges?
          %select{ :id => "select_branch" }
            - @repo.heads.each do |h|
              %option{ :value => h.name }
                = h.name
    #content.ui-helper-clearfix
      = yield
