* {margin: 0; padding: 0;}

ol,ul {list-style: none;}

body {
  padding: 4em 1em 2em 1em;
  
  font-family: sans-serif;
  color: #000;
}

a img {border: 0}

#header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  
  background: #eee;
}

#logo {
  font-size: 2em;
  text-transform: uppercase;
  margin: 0.2em 0 0 0;
}

#credit {
  font-size: .6em;
  margin: .2em 0 0 0;
}

#credit,
#credit a {color: #999}

#header:hover #credit,
#header:hover #credit a {color: inherit}

#controls {
  position: absolute;
  top: 50%; right: 1em;
  margin-top: -1em;
  width: 400px;
  text-align: right;
}

#controls label,
#controls select {
  margin-left: .5em;
}

#content {
  padding: .5em 1em;
}

#commits {
  width: 30%;
  margin-right: 1%;
  padding-right: 1%;
  float: left;
  border-right: 1px solid #eee;
}

#commits li {
  border-bottom: 1px solid #eee;
  padding: 1em 0 .5em 0;
}

#commits li:last-child {
  border: none;
}

#commits li .img {
  float: left;
  margin: 0 0.5em 0.3em 0;
  border: 1px solid #444;
  width: 36px;
  height: 36px;
}

#commits li .message {
  font-family: Courier;
  font-size: .7em;
  margin-left: 48px;
}

#select_a_commit {
  position: fixed;
  top: 50%; right: 0;
  width: 67%;
  text-align: center;
  font-size: 2em;
  color: #ccc;
}

#diffs {
  width: 67%;
  float: left;
  font-family: Courier;
}

#diffs .diff pre {
  padding: .1em .3em;
}

#diffs .overview {
  color: white;
  background: #666;
  font-weight: bold;
}

#diffs .add    {background: #CDE080}
#diffs .remove {background: #FFA3A8}

#content + * {
  clear: both;
}

.container {
  margin: 1em;
  padding: 0 1em;
}

#footer p {
  text-align: right;
}