* {margin: 0; padding: 0;}
a img {border: 0}
ol, ul {list-style: none}

#debug {
  display: none;
  position: fixed; top: 0; left: 0;
  
  padding: .25em .5em;
  width: 100%;
  background: #000;
  color: #fff;
  z-index: 666;
}

body {
  overflow: hidden;
  
  padding: 3.45em 0 0 0;
  
  font-family: "Gothic Bold", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #000;
}

p {
  line-height: 1em;
}

#header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  
  /* padding-bottom here is linked with body padding-top
     to get the header and content panes to line up.. 
     the two should add up to about 4.2em */
  padding: .75em;
  padding-bottom: .5em;
  
  background: #222;
  border-top: 1px solid #777;
}

#header,
#header a {
  color: #fff;
}

#header .sep {color: #5d99d1}

#logo {
  font-size: 2em;
  text-transform: uppercase;
}

#logo * {
  vertical-align: middle;
}

#select_branch {
  margin-top: -.5em;
}

#sha {
/*  color: #ccc;*/
}

#credit {
  font-size: .6em;
  margin: .2em 0 0 0;
  width: 10.25em;
  text-align: right;
}

#credit,
#credit a {color: #999}

#header:hover #credit,
#header:hover #credit a {color: #999}

#controls {
  position: absolute;
  top: 50%; right: 1em;
  margin-top: -1em;
  width: 400px;
  text-align: right;
}

#controls label,
#controls select {
  margin-left: .5em;
}

#hide_merges {display: none;}

#spinner {
  position: fixed;
  top: 1em; right: .75em;
}

#content {
  
}

#commits {
  width: 30%;
  float: left;
  border-right: 1px solid #000;
  overflow-x: hidden;
  overflow-y: scroll;
}

#commits,
#commits li {
  background: #666;
}

#commits a {
  text-decoration: none;
  color: #000;
}

#commits li {
  color: #eee;
  border-bottom: 1px solid #444;
  padding: .6em 0 .25em .5em;
  line-height: 1em;
}

#commits li:hover {
  cursor: pointer;
  background-color: #888;
}

#commits li.selected:hover,
#commits li.selected a:hover {
  cursor: default;
}

#commits li.selected {
  background: #5d99d1 url(/images/bg-commit-selected.gif) 0 0 repeat-x;
}

#commits li a {
  display: block;
  color: #fff;
}

#commits li .img {
  float: left;
  margin: 0 0.5em 0.3em 0;
  border: 1px solid #444;
  width: 24px;
  height: 24px;
}

#commits .merge {
  background-image: url(/images/HARDWARE.png);
  background-repeat: no-repeat;
  background-position: 1em .2em;
}

#commits .merge .img {
  display: none
}

#commits li .message {
  font-size: .8em;
  margin-left: 32px;
  margin-top: -.2em;
}

#commits .merge .message {
  margin-left: 32px;
  color: #fff;
}

#commits .merge .message .conflicts {
  display: block;
  margin-top: .5em;
  color: #000;
}

#commits .merge:hover * {color: inherit}

#home {text-decoration: none}

.diff_loading,
#diffs {
  width: 69.5%;
}

.diff_loading {
  position: fixed;
  top: 50%; right: 0;
  text-align: center;
  font-size: 2em;
  color: #ccc;
}

#diffs {
  float: left;
  font-family: Courier;
  font-size: .8em;
  overflow-x: auto;
  overflow-y: auto;
}

#diffs.hiding_overflow {
  overflow-x: scroll;
  overflow-y: scroll;
}

#diffs .diff {
  white-space: pre;
}

#diffs .diff_container,
#diffs .diff {
  line-height: .5em;
}

#diffs .overview,
#diffs .overview span {
  color: #fff;
  background: #666;
  font-weight: bold;
}

#diffs .overview {margin-top: 1em}
#diffs .overview:first-child,
#diffs .overview + .overview,
#diffs .overview + .overview .overview {margin-top: 0}

#diffs .add    {background: #ECF8D2}
#diffs .remove {background: #FAEBEB}

#content + * {
  clear: both;
}